$primary-color: #FF7600;
$primary-light: #FFAA53;
$primary-lighter: #FFCC8A;
$primary-lightest: #FFE5C0;

$secondary-color: #B47156;
$secondary-light: #C69278;
$secondary-lighter: #D8A593;
$secondary-lightest: #EDD5C8;


.profile {
  .card {
    background-color: $primary-lightest;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

  h2 {
    color: $primary-color;
    text-align: center;
    font-weight: bold;
  }

  .list-group-item {
    background-color: rgba(180, 113, 86, 0.25);
    font-weight: 600;
  }

  .btn-danger {
    background-color: $primary-color;
    border: none;
    font-size: 1.1rem;

    &:hover {
      background-color: $primary-light;
    }
  }

  .text-secondary {
    color: $secondary-color;
  }
}
