.genre-select-container {
  padding: 10px 20px;
  background: linear-gradient(135deg, #E76F1C, #F69B65);
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background 0.3s ease;
  width: 100%;
}
.genre-select-container:hover {
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.15);
  background: linear-gradient(135deg, #E76F1C, #f37c35);
}

.genre-select-label {
  font-size: 1.15rem;
  font-weight: 500;
  color: #F9E2D8;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.genre-select-dropdown .genre-select__control {
  border-radius: 0.5rem;
  padding: 0.4rem;
  border: 1px solid #F6BA9B;
  background-color: #F9E2D8;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}
.genre-select-dropdown .genre-select__control:hover {
  border-color: #fadaca;
}
.genre-select-dropdown .genre-select__menu {
  border-radius: 0.75rem;
  background-color: #EDD5C8;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1);
}
.genre-select-dropdown .genre-select__option {
  padding: 0.65rem 1rem;
  font-size: 0.95rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.genre-select-dropdown .genre-select__option:hover {
  background-color: #f8d5bd;
  color: #B47156;
}
.genre-select-dropdown .genre-select__option--is-selected {
  background-color: #E76F1C;
  color: #fff;
}
.genre-select-dropdown .genre-select__multi-value {
  background-color: #fdf3ec;
  border-radius: 0.25rem;
  padding: 0.3rem 0.5rem;
  color: #B47156;
  transition: background-color 0.3s ease;
}
.genre-select-dropdown .genre-select__multi-value:hover {
  background-color: #f8d5bd;
}
.genre-select-dropdown .genre-select__multi-value__label {
  font-size: 0.85rem;
  color: #bc5914;
}
.genre-select-dropdown .genre-select__multi-value__remove {
  color: #a54e11;
  transition: color 0.2s ease;
}
.genre-select-dropdown .genre-select__multi-value__remove:hover {
  color: #602d0a;
}

.event-card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #3a3a3a;
  border-radius: 16px;
  border: 1px solid #444;
}
.event-card .container {
  transition: transform 0.3s ease-in-out;
}
.event-card .image-container {
  width: 227px;
  border-radius: 7px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}
.event-card .image-container:hover {
  transform: scale(1.05);
}
.event-card .card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.event-card .card-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.event-card .card-category {
  font-size: 16px;
  color: #b0b0b0;
}
.event-card .card-duration {
  font-size: 14px;
  color: #999999;
}
.event-card .sessions {
  display: flex;
  gap: 10px;
  margin-left: 0;
}
.event-card .session-tile-small {
  width: 100px;
  height: 120px;
  border-radius: 8.25px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event-card .session-tile-small:hover {
  transform: scale(1.05);
}
.event-card .session-time {
  font-size: 20px;
  color: white;
}
.event-card .session-price,
.event-card .session-seats {
  font-size: 14px;
  color: #b0b0b0;
}
.event-card .session-more {
  font-size: 16px;
  color: white;
}
.event-card .sessionN {
  width: 90%;
}
.event-card .sessionN:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/*# sourceMappingURL=EventList.css.map */
