.movie-card {
  .container {
    transition: transform 0.3s ease-in-out; // Плавная анимация
  }

  // Изображение на карточке увеличивается при наведении
  .container:first-child {
    &:hover {
      transform: scale(1.05); // Увеличение изображения
    }
  }

  // Плитки с ценами увеличиваются при наведении
  .card-body .bg-secondary {
    transition: transform 0.3s ease-in-out; // Плавная анимация для цен
    &:hover {
      transform: scale(1.05); // Увеличение плиток с ценами
    }
  }
}
