$primary-color: rgba(180, 113, 86, 1);  // Основной насыщенный оранжевый
$primary-light: rgba(180, 113, 86, 0.75);  // Светло-оранжевый
$primary-lighter: rgba(180, 113, 86, 0.50);  // Ещё более светлый оранжевый
$primary-lightest: rgba(180, 113, 86, 0.25);  // Очень светлый бежевый/оранжевый

$secondary-color: #B47156;  // Тёмно-бежевый/оранжевый
$secondary-light: #C69278;  // Светло-бежевый/оранжевый
$secondary-lighter: #D8A593;  // Более светлый бежевый
$secondary-lightest: #EDD5C8;  // Светлый бежевый

$text-color: #333333; // Цвет текста

.movie-card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #3a3a3a;
  border-radius: 16px;
  border: 1px solid #444;

  .container {
    transition: transform 0.3s ease-in-out; // Плавная анимация
  }

  .image-container {
    width: 227px;
    border-radius: 7px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out; // Плавная анимация для изображения
    &:hover {
      transform: scale(1.05); // Увеличение плиток с ценами
    }
  }

  .card-body {
    padding: 16px;
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .card-category {
    font-size: 16px;
    color: #b0b0b0;
  }

  .card-duration {
    font-size: 14px;
    color: #999999;
  }

  .sessions {
    display: flex;
    gap: 10px;
    margin-left: 0;
  }

  .session-tile-small {
    width: 100px;
    height: 120px;
    border-radius: 8.25px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
      transform: scale(1.05);
    }
  }

  .session-time {
    font-size: 20px;
    color: white;
  }

  .session-price,
  .session-seats {
    font-size: 14px;
    color: #b0b0b0;
  }

  .session-more {
    font-size: 16px;
    color: white;
  }
  .sessionN{
    width: 90%;
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }
  }
}